:root {
  --branding-color: #272142;
  --hover-color: #662eed;
  --section-text-color: #ffffff;
  --default-font-family: "Nunito", sans-serif;
}

body {
  max-width: 1400px;
  margin: auto;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--branding-color);
}

header {
  padding: 0 140px;
}

.nav-link {
  color: var(--branding-color);
}

.nav-link:hover {
  color: var(--hover-color);
}

.recipe-collection {
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/images/bg.png);

  height: 265px;
  padding: 45px 0;
  background-repeat: no-repeat;
  color: var(--section-text-color);
}

.recipe-collection-header {
  font-size: 72px;
  line-height: 98px;
}

.recipe-collection-text {
  font-size: 24px;
  line-height: 35px;
}

.recipe-img {
  display: block;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.recipe-header {
  font-weight: 700;
}
footer {
  padding: 0 140px;
  height: 100px;
  background: #f9f7fe;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;
}

.about-section {
  padding: 100px 0;
}

@media (max-width: 992px) {
  footer,
  header {
    padding: 0;
  }

  .recipe-collection-header {
    font-size: 48px;
    line-height: 1.5;
  }

  .recipe-collection-text {
    font-size: 18px;
    line-height: 1.5;
  }

  .recipe-header {
    font-size: 20px;
  }

  .author-header {
    margin-top: 20px;
  }
  .about-section {
    padding: 50px 0;
  }
}
