:root {
  --branding-color: #272142;
  --hover-color: #662eed;
  --section-text-color: #ffffff;
  --default-font-family: "Nunito", sans-serif;
}

body {
  max-width: 1400px;
  min-width: 400px;
  margin: auto;
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 22px;
  color: var(--branding-color);
}

header {
  padding: 0 140px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 72px;
  line-height: 98px;
}

.nav-link {
  color: var(--branding-color);
}

.nav-link:hover {
  color: var(--hover-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--hover-color);
}

.recipes,
.favorite-recipe,
.recipe-collection {
  text-align: center;
}

.recipes-header {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/images/bg.png);
  color: var(--section-text-color);
  background-repeat: no-repeat;
  height: 265px;
  padding: 45px 0;
}

.recipes-text {
  font-size: 24px;
  line-height: 35px;
}

.recipe-img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

.favorite-recipe-header {
  font-size: 36px;
}

.favorite-recipe {
  padding: 50px 0;
}

footer {
  padding: 0 140px;
  height: 100px;
  background: #f9f7fe;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}

.about-header,
.recipe-collection-header,
.contact-header {
  padding: 100px 0;
}

.recipe-card {
  font-size: 18px;
  padding: 10px 20px;
}

.ingredients,
.method {
  text-align: left;
}

.ingredients p {
  border-bottom: 1px dashed #67d5d2;
}

hr {
  margin: 20px -12px;
  border: 1px dashed #67d5d2;
}

.step {
  color: #f65282;
  font-weight: 800;
}

.info {
  padding: 50px 50px;
}

.info h3 {
  margin-top: 30px;
  color: var(--hover-color);
}

.info a {
  text-decoration: none;
  color: var(--branding-color);
}

.info a:hover {
  color: var(--hover-color);
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }

  footer,
  header {
    padding: 0;
  }

  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .recipes-text {
    font-size: 18px;
    line-height: 1.5;
  }

  .recipe-header {
    font-size: 20px;
  }

  .about {
    text-align: center;
  }

  .about-header,
  .recipe-collection-header {
    padding: 50px 0;
  }

  .recipe-card {
    font-size: 14px;
  }

  .author-header {
    margin-top: 20px;
  }

  .info {
    text-align: center;
  }
}
